
body {
    font-family: 'Arial', sans-serif;
    background-color: #fde2e4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color:#e63946; /* Soft pink color */
    text-align: center;
    padding: 40px;
    border-bottom: 5px solid #ff7b7b;
}

h1 {
    margin: 0;
    font-size: 3em;
    color: #fff;
}

p {
    font-size: 1.2em;
    color: #fff;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.message {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color:#ff7b7b; /* Light pink background */
}

button {
    background-color: #e63946; /* Button color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #e63946; /* Button hover color */
    transform: translateY(-3px);
            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

.gallery {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}
